body{
font-family:Arial, Helvetica, sans-serif;
background:#f4f6f9;
margin:0;
padding:30px;
}

.container{
max-width:1000px;
margin:auto;
}

h2{
margin-top:30px;
}

.card{
background:white;
border-radius:12px;
padding:20px;
margin-top:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.patient-info{
display:flex;
align-items:center;
gap:20px;
}

.patient-photo{
width:120px;
height:120px;
border-radius:10px;
object-fit:cover;
}

.details p{
margin:5px 0;
}

.history{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:20px;
}

.history-btn{
background:#2563eb;
color:white;
border:none;
padding:8px 16px;
border-radius:6px;
cursor:pointer;
font-size:14px;
}
.history-btn:hover{
background:#1e4fd1;
}
.history{
display:flex;
gap:20px;
margin-top:15px;
}

.history-box{
flex:1;
background:#f9fafb;
padding:15px;
border-radius:8px;
}

.session-content{
display:flex;
justify-content:space-between;
align-items:flex-end;
}

.session-info{
display:flex;
flex-direction:column;
gap:2px;
}

.session-info p{
margin:2px 0;
}

.session-toggle{
display:flex;
align-items:flex-end;
}

.graph-button{
text-align:center;
margin-top:30px;
}

button{
background:#2563eb;
color:white;
border:none;
padding:15px 30px;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#1e4fd1;
}
.top-bar{
display:flex;
align-items:center;
margin-bottom:20px;
}

.back-icon{
font-size:22px;
cursor:pointer;
color:#2563eb;
}

.back-icon:hover{
color:#1e4fd1;
}
.switch{
position:relative;
display:inline-block;
width:50px;
height:24px;
margin-bottom:15px;
}

.switch input{
opacity:0;
width:0;
height:0;
}

.slider{
position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background-color:red;
border-radius:24px;
transition:.4s;
}

.slider:before{
position:absolute;
content:"";
height:18px;
width:18px;
left:3px;
bottom:3px;
background-color:white;
border-radius:50%;
transition:.4s;
}

input:checked + .slider{
background-color:#22c55e;
}

input:checked + .slider:before{
transform:translateX(26px);
}